body{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 250px 20px 250px;
    background-color: #1F2937;
    flex-wrap:wrap;
    
}
.Header-Logo{
    display: flex;
    flex-wrap:wrap;

}
.Header-Links{
    display:flex;
    gap: 10px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}
img{
    border-radius: 10px;
    box-shadow: #E5E7EB 0px 0px 10px;
}
    







.Sub-Header{
    display: flex;
    padding: 60px 250px 80px 250px;
    justify-content: space-between;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;

}
.Sub-Header-Text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 350px;
    gap: 15px;
}
.This-website-is-awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}
.This-website-is-awesome-2{
    font-size: 20px;
    color: #E5E7EB;
    line-height: 1.4;
    padding-right:  30px
}
.Sub-Header-Image{
    flex-shrink: 0;
}
.Order-Now{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: flex;
    align-self: flex-start;
    width: auto;
    font-size: 23px;
    border: 2px solid white;
}













.Main-Section{
    display: flex;
    padding: 50px 250px;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    gap: 40px;
}
.Main-Section-Header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}
.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.card-text{
    width: 200px;
    font-size: 18px;
    display: flex;
    text-align: center;
}










.Quote{
    display: flex;
    flex-direction: column;
    padding: 100px 250px;
    background-color: #E5E7EB;
    gap: 10px;

}
.Quote-Text{
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
}
.Quote-Author{
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    font-family: Roboto, sans-serif;

}









.Call-To-Action{
    background-color: #3882F6;
    color: white;
    margin: 100px 250px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    padding: 30px 60px;
    flex-wrap:wrap;
    gap: 10px;
}
.Call-To-Action-Text1{
    font-size: 18px;
    font-weight: bold;
}
.Call-To-Action-Text2{
    font-size: 14px;
    line-height: 1.3;
}
.Jetzt-Bestellen{
    border: 2px solid white;
    display: flex;
    padding: 10px 20px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;

}


















.Footer{
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px 0;
}