body{
    border: 6px solid green;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}



.header{
    border: 6px solid rgb(0, 6, 128);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 250px;
    background-color: #1F2937;
}
.Header-Logo{
    display: flex;
}
.Header-Links{
    border: 6px solid rgb(0, 128, 0);
    display:flex;
    gap: 10px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}
img{
    border-radius: 10px;
    box-shadow: #E5E7EB 3px 4px 10px;
}
    







.Sub-Header{
    border: 6px solid rgb(225, 0, 255);
    display: flex;
    padding: 80px 250px;
    justify-content: space-between;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;

}
.Sub-Header-Text{
    border: 7px solid rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.This-website-is-awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}
.This-website-is-awesome-2{
    font-size: 16px;
    color: #E5E7EB;
    line-height: 1.3;
    padding-right:  30px
}
.Sub-Header-Image{
    border: 6px solid rgb(0, 255, 255);
    display: flex;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: flex;
    align-self: flex-start;
    width: auto;
    font-size: 16px;
    border: 2px solid white;
}













.Main-Section{
    border: 6px solid rgb(255, 127, 0);
    display: flex;
    padding: 50px 250px;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    flex-direction: column;
}
.Main-Section-Header{
    border: 6px solid rgb(255, 0, 255);
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}
.Main-Section-Content-Images{
    border: 6px solid rgb(255, 255, 0);
    display: flex;
    justify-content: space-between;
}
.Main-Section-Content-Text{
    border: 6px solid rgb(0, 255, 255);
    display: flex;
    justify-content: space-between;
}
.Große-Auswahl,
.Schnelle-Lieferung,
.Einfache-Bezahlung,
.Exklusive-Rabatte{
    border: 6px solid rgb(47, 0, 255);
    width: 200px;
    font-size: 18px;
    display: flex;
    text-align: center;
}










.Quote{
    border: 6px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 100px 250px;
    background-color: #E5E7EB;
}
.Quote-Text{
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
}
.Quote-Author{
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    font-family: Roboto, sans-serif;

}









.Call-To-Action{
    border: 6px solid rgb(0, 200, 255);
    background-color: #3882F6;
    color: white;
    margin: 100px 250px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    padding: 30px 60px;

}
.Call-To-Action-Text1{
    font-size: 18px;
    font-weight: bold;
}
.Call-To-Action-Text2{
    font-size: 14px;
    line-height: 1.3;
}
.Jetzt-Bestellen{
    border: 2px solid white;
    display: flex;
    padding: 10px 20px;
}


















.Footer{
    border: 6px solid rgb(128, 0, 0);
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px 0;
}